.select-filter {
	width: 100%;
	.select-filter-item {
		display: flex;
		align-items: center;
		border-top: 1px dashed var(--el-border-color-light);
		.select-filter-item-title {
			margin-top: -2px;
			span {
				font-size: 14px;
				color: var(--el-text-color-regular);
				white-space: nowrap;
			}
		}
	}
}
